#include "windows.h"
#include "ntverp.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,0,0,0
 PRODUCTVERSION 2,0,0,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG // 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT // 0x40004L
 FILETYPE VFT_DLL // 0x2L
 FILESUBTYPE VFT2_DRV_KEYBOARD // 0x3L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "FileDescription", "Neo ergonomisch optimiert\0"
            VALUE "CompanyName", "Christian Pütter\0"
            VALUE "FileVersion", "2.0.0\0"
            VALUE "InternalName", "kbdneo2\0"
            VALUE "LegalCopyright", "Copyright (C) 1997-2015 Christian Pütter\0"
            VALUE "OriginalFilename", "kbdneo2.dll\0"
            VALUE "ProductName", "Neo ergonomisch optimiert\0"
            VALUE "ProductVersion", "2.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
